---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import Projects from '../components/Projects.astro';
import Studies from '../components/Studies.astro';
---

<Layout title="Fernando porfolio">
	<Header/>
	<main>
		<Intro/>
		<Projects/>
		<Studies/>
	</main>
</Layout>

<style>
	main {
		margin: 20px auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	h2 {
		font-weight: 600;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
