<span>
    <slot />
</span>

<style>
    span {
        background-color: #EBF8FF; color: #1E40AF; font-size: 0.75rem; font-weight: 500; margin-right: 0.5rem; padding: 0.125rem 0.625rem; border-radius: 0.25rem; background-color: #1E293B; color: #93C5FD;
    }
</style>
