---
import Title from './Title.astro'
import StudiesIcon from './Icons/StudiesIcon.astro';
import TimeLine from './TimeLine.astro';
---

<section id="studies" class="scroll">
    <Title text="Carrera">
        <StudiesIcon width='45px' height='45px' />
    </Title>
    <TimeLine />
</section>
