<footer>
    <p class="text-gradient">© 2023 Fernando J. Estrada</p>
    <div>
        <a href="#about">Sobre mí</a>
        <a href="#contact">Contacto</a>
    </div>
</footer>

<style>
    footer {
        display: flex;
        background-color: #1a1a1a;
        max-width: calc(100% - 40px);
        padding: 5px 20px;
        width: 900px;
        justify-content: space-between;
        align-items: center;
        border-radius: 9px;
        margin: 40px auto;
    }
    div {
        display: flex;
        gap: 30px;
    }
    a {
        color: #fff;
    }
    a:hover {
        text-decoration: underline;
    }
</style>