---
import { LanguageSelector } from "astro-i18next/components";
---

<footer>
    <p class="text-gradient">2024 Fernando J. Estrada</p>
    <div>
        <LanguageSelector class="language-selector" />
    </div>
</footer>

<style>
    footer {
        display: flex;
        background-color: #1a1a1a;
        max-width: calc(100% - 20px);
        padding: 5px 20px;
        width: 900px;
        justify-content: space-between;
        align-items: center;
        border-radius: 9px;
        margin: 40px auto;
        gap: 3px;
    }
    div {
        display: flex;
        gap: 0.8rem;
    }
    a {
        color: #fff;
    }
    a:hover {
        text-decoration: underline;
    }
    p {
        text-wrap: wrap;
    }
    .language-selector {
        padding: 3px;
        border-radius: 5px;
        background-color: var(--bg);
        color: var(--text-color);
        outline: none;
        box-shadow: rgba(var(--shadow-color)) 1px 1px 3px;
    }
</style>