<section id="intro">
    <h1>Hola, soy Fernando.</h1>
    <div id="foto-perfil">
        <img src="img/ejemplo.png" alt="Foto de perfil de Fernando">
    </div>
</section>

<style>
    #intro {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    h1, h2 {
        margin-bottom: 1rem;
    }
    #foto-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;
        margin: 0 auto;
    }
    #foto-perfil img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
</style>