---
import Title from '../components/Title.astro'
import Flag from '../components/Icons/Flag.astro';
---

<section id="purposes" class="scroll">
    <Title text="Metas">
        <Flag width='40px' height='40px' />
    </Title>
</section>