---
import Title from '../components/Title.astro'
import StudiesIcon from './StudiesIcon.astro';
import TimeLine from './TimeLine.astro';
---

<section>
    <Title text="Estudios">
        <StudiesIcon width='45px' height='45px' />
    </Title>
    <TimeLine />
</section>

<style>
</style>