---
import Title from '../components/Title.astro'
import ColorsIcon from '../components/Icons/ColorsIcon.astro';
import { ThemeSelector } from './React/ThemeSelector';
---

<section>
    <Title text="Temas">
        <ColorsIcon width='52px' height='52px' />
    </Title>
    <p class="text-gradient">Elige un tema para el porfolio.</p>
    <ThemeSelector client:visible/>
</section>