---
import Carrera from '../data/carrera.json'
import { t } from 'i18next';
---

<div class="studies-time-line">
    <div>
        {Carrera.map((item: string, index: number) => (
            <div>
                <p class="date">{t(`studies.${item}.time`)}</p>
                <p class="text-gradient">{t(`studies.${item}.title`)}</p>
                <p class="description">{t(`studies.${item}.description`)}</p>
            </div>
        ))}
    </div>
</div>

<style>
    .studies-time-line {
        border-inline-style: solid;
        border-inline-color: var(--text-color);
        border-inline-width: 1px;
        border-right: none;
        padding: 0 2rem;
        margin: 2rem 5px;
    }
    .studies-time-line div {
        padding: 15px 0;
    }
    .studies-time-line .date {
        color: rgba(var(--accent));
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }
    .date::before {
        content: "";
        width: 0.9rem;
        height: 0.9rem;
        background-color: rgb(var(--accent));
        border-radius: 50%;
        display: inline-block;
        top: 0.1rem;
        left: -1.5rem;
        position: relative;
        margin-left: -1rem;
    }
</style>