---
import Title from '../components/Title.astro'
import ProjectsIcon from '../components/Icons/ProjectsIcon.astro';
import ReactIcon from '../components/Icons/ReactIcon.astro';
import ProjectCard from '../components/ProjectCard.astro';
import NodeIcon from '../components/Icons/NodeIcon.astro';
import MongoIcon from '../components/Icons/MongoIcon.astro';
---

<section id="projects" class="scroll">
    <Title text="Proyectos">
        <ProjectsIcon width='50px' height='50px' />
    </Title>
    <ProjectCard 
        title="Carnets de Twitch"
        description="Carnets de Twitch es una aplicación web que permite a los usuarios crear tarjetas de presentación para sus canales de Twitch."
        image="/img/carnets.webp"
        link="https://carnets.fernandoestrada.dev"
        repo="https://github.com/FerZeg"
    >
        <ReactIcon width='40px' height='40px' />
        <NodeIcon width='50px' height='50px' />
        <MongoIcon width='60px' height='60px' />
    </ProjectCard>
</section>