---
import Title from '../components/Title.astro'
import ProjectsIcon from '../components/Icons/ProjectsIcon.astro';
import ReactIcon from '../components/Icons/ReactIcon.astro';
import ProjectCard from '../components/ProjectCard.astro';
import NodeIcon from '../components/Icons/NodeIcon.astro';
import MongoIcon from '../components/Icons/MongoIcon.astro';
import {t} from 'i18next';
---

<section id="projects" class="scroll">
    <Title text={t('projects.title')}>
        <ProjectsIcon width='50px' height='50px' />
    </Title>
    <ProjectCard 
        title={t('projects.carnets.title')}
        description={t('projects.carnets.description')}
        image="/img/carnets.webp"
        link="https://carnets.fernandoestrada.dev"
        repo="https://github.com/FerZeg"
    >
        <ReactIcon width='40px' height='40px' />
        <NodeIcon width='50px' height='50px' />
        <MongoIcon width='60px' height='60px' />
    </ProjectCard>
</section>