---
import Title from '../components/Title.astro'
import TechIcon from '../components/Icons/TechIcon.astro';
import TechTable from '../components/TechTable.astro';
---

<section id="tech" class="scroll">
    <Title text="Tecnologías">
        <TechIcon width='45px' height='45px' />
    </Title>
    <TechTable />
</section>
<style>
    .flag-container {
        border: 2px solid #2e2e2e;
        border-radius: 2%;
        padding: 6px;
    }
</style>