---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "@fontsource/onest";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script type="module" src="/js/index.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	:root[data-theme='dark'] {
		--text-color: rgba(255, 255, 255, 0.9);
		--title-color: #fffefedd;
		--shadow-color: 255, 255, 245;
		--bg: #101010;
		--accent: 136, 58, 234;
		--text-gradient: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
		--radial--gradient: radial-gradient(ellipse 80% 80% at 50% -20%, #7372c34d 0%, #5854924d 20%, #19191a75 60%, #101010 80%, #101010 100%);
		--navigation-color: rgba(255, 255, 255, 0.9);
	}
	:root[data-theme='light'] {
		--text-color: rgba(20, 20, 20, 0.9);
		--title-color: #050505dd;
		--shadow-color: 50, 50, 93;
		--bg: #f3f3f3fa;
		--accent: 136, 58, 234;
		--text-gradient: linear-gradient(to top, #8e71d2 0%, #de77c1 100%);
	}
	:root[data-theme='light2'] {
		--text-color: rgba(20, 20, 20, 0.9);
		--title-color: #050505dd;
		--shadow-color: 50, 50, 93;
		--bg: #fffffffa;
		--accent: 136, 58, 234;
		--text-gradient: linear-gradient(120deg, #60d78c 0%, #4b91b4 100%);;
	}
	@keyframes text-pop-up-top {
	0% {
		transform: translateY(50px);
		transform-origin: 25% 25%;
	}
	100% {
		transform: translateY(0px);
		transform-origin: 50% 50%;
	}
	}

	body {
		position: relative;
	}
	html {
		color: var(--text-color);
		font-family: "Onest", system-ui, sans-serif;
		min-height: 100vh;
		background-color: var(--bg);
		background-image: var(--radial--gradient) ;
		scroll-behavior: smooth;
	}
	.scroll {
		scroll-margin-top: 4rem;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.text-gradient {
		background-image: var(--text-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-weight: bold;
	}
	h1, h2 {
		line-height: 1;
	}
	h1 {
		font-size: 2.3rem;
		line-height: 1;
		font-weight: 500;
		animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	h2 {
		font-size: 2rem;
		font-weight: 500;
	}
	h3 {
		font-size: 1.8rem;
		font-weight: 500;
	}
	h4 {
		font-size: 1.6rem;
		font-weight: 500;
	}
	@media (max-width: 768px) {
		html {
			font-size: 14px;
		}
	}
	p {
        text-wrap: pretty;
        font-size: 1rem;
		line-height: 1.4;
		margin: 4px 0;
    }
	a {
		text-decoration: none;
	}


	
</style>
